{% extends "base.html" %}

{% load get_edit_link %}

{% block content %}
    <h2>42 Coffee Cups Test Assignment</h2>
    <a href="{% url 'contact-edit' %}">edit</a>
    <div class="row">
        <div class="span4">
            <p>Name:&nbsp;{{ contact.first_name }}</p>
            <p>Last name:&nbsp;{{ contact.last_name }}</p>
            <p>Date of birth:&nbsp;{{ contact.birth_date|date:'d.m.Y' }}</p>
            <p class="user_photo">Photo:<img src="{% if contact.photo %}{{ contact.photo.url }}{% endif %}"></p>
        </div>
        <div class="span4">
            <p>Contacts</p>
            <p>Email:&nbsp;{{ contact.email }}</p>
            <p>Jabber:&nbsp;{{ contact.jabber }}</p>
            <p>Skype:&nbsp;{{ contact.skype }}</p>
            <p>Other contacts:{{ contact.other_contacts|linebreaksbr  }}</p>
            <p>Bio:{{ contact.bio|linebreaksbr }}</p>
        </div>
    </div>
    {% edit_link contact %}
    <div class="line"><hr /></div>
    <a href="{% url 'log' %}">requests</a>
{% endblock content %}
