.line {
     color: #000;
     background: #000; 
     width: 100%; 
     height: 3px;
}

.container-left{
	margin-left: 15px;
}

.contact-edit-label{
	width:100px !important;
}

.contact-edit-controls{
	margin-left: 105px !important;
}

.edit_contact_progress{
	display: none;
}

.contact-edit-alert{
	display: none;
}

#edit_contact_form textarea{
	width: 95%;
}

